.App {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-card {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 750px) {
  .bill-card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .App {
    align-items: end;
  }

  .bill-card {
    width: 100%;
  }
}
